
@media (max-width: 768px){
    .btn_prod{
        background: #095ce1;
        color: $white;
        border: none;
        @include w-h(100%, 50px);
        border-radius: 16px;
    }
    
}
@media (max-width: 480px){
    .cabeza__menu{
        height: 5em;
        flex-direction: column;
        ul li a{
            font-size: 4em;
        }
    }
}